# Customer name - leave as $null to retrieve from the DNA report. Any value entered here will override the value from the report
$CustomerName = "Acme Corporation"

# Alternate Domain Admins Group name - some customers do not rely on the default
$DomainAdminsGroupName = "Domain Admins"

# Author email. Enter your email here.
$AuthorEMail = "John.Doe@cyberark.com"

# Import folder. This should be the folder containing 1 or more DNA results file from the customer
$ImportFolder = "C:\Users\john.doe\Documents\Customers\$CustomerName\"

# Export Folder. Where the PDF output should end up
$ExportFolder = "C:\Users\john.doe\Documents\Customers\$CustomerName\DNA Analysis\"